
Framework/BMXFlatButton.xcodeproj/xcuserdata/*
TestApp/BMXFlatButtonTest.xcodeproj/xcuserdata/*

TestApp/BMXFlatButtonTest.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
Framework/BMXFlatButton.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
